:root {
    --tissomiprimary: #F2F1EB;
    --tissomiprimary2: #FBF9EC;
    --tissomisecondary: #343434;
    --tissomisecondary2: #282828;
    --tissomihighlightG: #CCA159;
}

/* Main container styles */
.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--tissomisecondary);
}

/* Artistry text styles */
.artistry-img {
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    top: calc(50% - 37.5px);
}

#background-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0; /* This is added to position the video behind other content */
    background-color: var(--tissomisecondary); /* Fallback color if the video doesn't load */
    mix-blend-mode: luminosity;
    opacity: 0.4;
}

/* Styles for the container */
.container {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    background: var(--tissomiprimary2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
}

.light1 {
    background-color: var(--tissomiprimary);
}

.light2 {
    background-color: var(--tissomiprimary2);
}

.dark1 {
    background-color: var(--tissomisecondary);
}

.light {
    color: var(--tissomiprimary);
}

.dark {
    color: var(--tissomisecondary);
}


/* Title */
.section-title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/* Content styles */
.content {
    max-width: 1000px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    line-height: 1.6;
    padding: 30px;
}

b {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.cta {
    max-width: 500px;
    padding: 30px;
    margin-top: 30px;
    background: var(--tissomisecondary2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: flex;
}

/* CTA title styles */
.cta-title {
    align-self: stretch;
    text-align: center;
    color: var(--tissomihighlightG);
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

/* CTA description styles */
.cta-description {
    align-self: stretch;
    text-align: center;
    color: var(--tissomiprimary2);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.learn-more {
    width: max-content;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--tissomiprimary2);
}

.learn-more:after {
    content: '';
    position: max-content;
    margin: 1px 0;
    height: 1px;
    width: 0%;
    background-color: var(--tissomiprimary2);
    display: block;
    transition: all 0.3s;
    left: 0;
}

.learn-more:hover:after {
    width: 100%;
}

.designs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.designimg {
    padding: 30px 15px 0px 15px;
    max-width: 400px;
}


@media screen and (max-width: 1024px) {
    .designimg {
        max-width: 300px;
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    /* Artistry text styles */
    .artistry-img {
        width: 200px;
        left: calc(50% - 100px);
        top: calc(50% - 25px);
    }

    .container {
        padding: 50px 0;
    }

    /* section title */
    .section-title {
        font-size: 30px;
    }

    .content {
        font-size: 16px;
    }

    .cta {
        max-width: 80%;
        margin: 0;
        gap: 10px;
    }

    .cta-title {
        font-size: 22px;
    }

    .cta-description {
        font-size: 16px;
    }

    .learn-more {
        font-size: 16px;
        border-bottom: 1px var(--tissomiprimary2) solid;
    }

    .learn-more:after {
        display: none;
    }

}

/* Small devices such as large phones (640px and up) */
@media screen and (max-width: 540px) {

}
